<div class="cb-search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;
      opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
    <input type="text" class="form-control cb-search-content" id="cb-search-content" style="position: fixed; top: 60px" placeholder="文章标题 日期 标签" >

    <div style="position: fixed; top: 16px; right: 16px;">
        <img src="http://raspifans.club/search/img/cb-close.png"  id="cb-close-btn"/>
    </div>
</div>

<div style="position: fixed; right: 16px; bottom: 20px;">
    <img src="http://raspifans.club/search/img/cb-search.png"  id="cb-search-btn"  title="双击ctrl试一下"/>
</div>

<link rel="stylesheet" href="{{ "/search/css/cb-search.css" | prepend: site.baseurl }}">

<script src="{{ "/search/js/bootstrap3-typeahead.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/search/js/cb-search.js" | prepend: site.baseurl }}"></script>

<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>{{ site.about }}</p>
            </div>

            <div class="col-sm-4">
              <h4>Contact Us</h4>
              <div>
                <ul class="social">
                  <li>
                    <a href="https://github.com/RPFC/"><i class="fa fa-github"></i> GitHub </a>
                  </li>
                  <li>
                      QQ群1：695558192
                  </li>
                    <li>
                        QQ群2：203950207
                    </li>
                    <li>加入我们：<a href="http://raspifans.club/pages/FeedBack/index.html">🔗</a></li>
                    <li>许可：本网站所有未申明许可的均为："知识共享署名-非商业性使用-禁止演绎 4.0 国际许可协议"进行许可</li>
                </ul>
              </div>
            </div>

            <div class="col-sm-4">
              <img class="img-responsive" src="{{ "/assets/img/logo-white.png" | prepend: site.baseurl }}" srcset="{{ "/assets/img/logo-white.png" | prepend: site.baseurl }} 1x, {{ "/assets/img/logo-white@2x.png" | prepend: site.baseurl }} 2x, {{ "/assets/img/logo-white@3x.png" | prepend: site.baseurl }} 3x, {{ "/assets/img/logo-white@4x.png" | prepend: site.baseurl }} 4x"/>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
