<script type="text/javascript">
    (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
        (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
        e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
    })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

    _st('install','-8rfgygXnZbJcm8vyRPu','2.0.0');
</script>
<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>{{ site.about }}</p>
            </div>
            <div class="col-sm-4">
              <h4>Contact Us</h4>
              <div>
                <ul class="social">
                  <li>
                    <a href="https://github.com/RPFC/"><i class="fa fa-github"></i> GitHub </a>
                  </li>
                  <li>
                      QQ群1：695558192
                  </li>
                    <li>
                        QQ群2：203950207
                    </li>
                    <li>加入我们：<a href="http://raspifans.club/pages/FeedBack/index.html">🔗</a></li>
                    <li>许可：本网站所有未申明许可的均为："知识共享署名-非商业性使用-禁止演绎 4.0 国际许可协议"进行许可</li>
                </ul>
              </div>
            </div>

            <div class="col-sm-4">
              <img class="img-responsive" src="{{ "/assets/img/logo-white.png" | prepend: site.baseurl }}" srcset="{{ "/assets/img/logo-white.png" | prepend: site.baseurl }} 1x, {{ "/assets/img/logo-white@2x.png" | prepend: site.baseurl }} 2x, {{ "/assets/img/logo-white@3x.png" | prepend: site.baseurl }} 3x, {{ "/assets/img/logo-white@4x.png" | prepend: site.baseurl }} 4x"/>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
