<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>{{ site.about }}</p>
            </div>

            <div class="col-sm-4">
              <h4>Contact Us</h4>
              <div>
                <ul class="social">
                  <li>
                    <a href="https://github.com/RPFC/"><i class="fa fa-github"></i> GitHub </a>
                  </li>
                  <li>
                      QQ群：695558192
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-4">
              <img class="img-responsive" src="{{ "/assets/img/logo-white.png" | prepend: site.baseurl }}" srcset="{{ "/assets/img/logo-white.png" | prepend: site.baseurl }} 1x, {{ "/assets/img/logo-white@2x.png" | prepend: site.baseurl }} 2x, {{ "/assets/img/logo-white@3x.png" | prepend: site.baseurl }} 3x, {{ "/assets/img/logo-white@4x.png" | prepend: site.baseurl }} 4x"/>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
