<div class="col-lg-3">
    <h4>搜索</h4>
        <p>
            <br/>
            <input type="search" name="search" id="search" placeholder="Search RaspiFansClub" class="placeholder" autocomplete="off" autocorrect="off" autocapitalize="off">
        </p>
    <div class="spacing"></div>
    <h4>订阅</h4>
    <div class="hline"></div>
        <p>
        <p class="rss-subscribe"><i class="fa fa-rss"></i> 订阅获取最新内容 <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
        </p>
    <div class="spacing"></div>
    <h4>文章分类</h4>
    <div class="hline"></div>
    {% for category in site.categories %}{% unless category.first == "blog" or category.first == "event" %}
        <p>
            <a href="{{ category.url }}"><i class="fa fa-angle-right"></i> {{ category | first | capitalize }}</a>
            <span class="badge badge-theme pull-right">{{ category | last | size }}</span>
        </p>
    {% endunless %}{% endfor %}

    <div class="spacing"></div>

    <h4>热门标签</h4>
    <div class="hline"></div>
    <p>
        {% for category in site.categories %}{% unless category.first == "blog" or category.first == "event" %}
            <a class="btn btn-theme" href="{{ category.url }}" role="button">{{ category | first | capitalize }} ({{ category | last | size }})</a>	         
        {% endunless %}{% endfor %}
    </p>
</div>
